@import 'src/assets/styles/variables';

$form-constructor-border: $color-primary-light;
$btn-element-bg: rgba(144, 164, 174, 0.1);

.form-constructor-elements {
  flex: 0 0 300px;
  border-right: 2px solid $form-constructor-border;

  &-title {
    padding: 25px 20px;
    font-size: 18px;
    font-weight: 700;
  }
}

.form-constructor-elements-list {
  .btn-element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
    transition: background-color .3s ease-out;

    &-info * {
      line-height: 30px;
      vertical-align: middle;
    }

    &-icon {
      opacity: 0;
      transition: opacity .3s ease-out;
    }

    .btn__text {
      font-size: 16px;
      text-transform: uppercase;
      color: $color-secondary;
    }

    &:hover {
      background-color: $btn-element-bg;

      .btn-element-icon {
        opacity: 1;
      }
    }
  }
}
