@import 'src/assets/styles/variables';

.route-notfound {
  font-family: 'Avenir Next', 'Helvetica Neue', Lato, Arial, sans-serif;
  font-size: 32px;
  font-weight: 400;
  color: $color-info-error;
}
