@import 'src/assets/styles/variables';

.form-constructor {
  display: flex;
  height: calc(100% - 200px);
  margin-bottom: 20px;
  border-radius: 4px;
  border: 2px solid $color-primary-light;

  &-elements {
    flex: 0 0 300px;
    border-right: 2px solid $color-primary-light;
  }

  &-body {
    flex: 1 1 auto;
    padding: 20px;
  }
}

.app-navigation {
  display: inline-block;
}

.btn-go-back {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  font-size: 18px;
  color: #505f79;

  &:hover {
    color: #000;

  }
}
