@import 'src/assets/styles/variables';

.form-constructor-body {
  flex: 1 1 auto;
  padding: 20px;
}

.constructor-body-title {
  width: 250px;
  padding: 5px 10px;
  font-size: 18px;
  font-weight: 700;
  color: $color-secondary;

  border: none;
  border-bottom: 1px solid $color-form-group;
  background-color: $color-light;
}

.constructor-body-config {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  .column-counts-config {
    font-size: 18px;

    .form__desc {
      font-size: 24px;
    }

    .btn-column {
      padding: 4px;
      border-radius: 4px;
      border: 1px solid $color-form-group;
    }
  }
}

.constructor-body-fields {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;

  .col {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    margin-bottom: 20px;

    background: #FFF;
    border-radius: 4px;
    border: 1px solid $color-form-group;
    outline: none;
  }

  .col.w-50 {
    width: calc(50% - 10px);
  }

  .col.w-100 {
    width: 100%;
  }

  .btn-icon {
    padding: 5px 10px;
    color: $color-secondary-dark;

    &:hover {
      color: $color-secondary-light;
    }
  }
}
