@import 'src/assets/styles/variables';

$form-constructor-border: $color-primary-light;
$form-el-config-bg: $color-light;
$form-el-config-shadow: rgba(100, 100, 100, .7);
$form-el-config-options: darkslategray;
$form-el-config-options-bg: #d6d0cb;

.form-el-config {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  width: 700px;
  max-width: 100%;
  max-height: 100%;
  padding: 25px;

  background-color: $form-el-config-bg;
  border: 1px solid #EEE;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px $form-el-config-shadow;
  outline: none;
  overflow-y: scroll;

  .form-group-inline {
    height: 65px;

    &:not(:last-of-type) {
      margin-bottom: 12px;
    }
  }
}

.info-error-input {
  display: inline-block;
  width: 500px;
  margin-left: 10px;
  color: $color-info-error;

  & > * {
    line-height: 30px;
    vertical-align: middle;
  }

  &-text {
    margin-left: 5px;
  }
}

.options-list {
  position: relative;
  height: 180px;
  padding: 10px;
  margin-bottom: 20px;

  overflow-y: scroll;
  border-top: 1px solid $form-el-config-options;
  border-bottom: 1px solid $form-el-config-options;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    text-align: center;
    background-color: $form-el-config-options-bg;
    border-bottom: 1px solid #c5cbd6;
    border-radius: 25px;
  }

  &-item:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.select-config {
  &-title {
    padding: 10px;
    text-transform: uppercase;
  }

  .btn {
    display: inline-flex;
    align-items: center;
    width: 100px;
  }
}
