@import 'src/assets/styles/variables';

.form-el-config {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;

  width: 700px;
  max-width: 100%;
  max-height: 100%;
  padding: 25px;

  background-color: #FAFAFA;
  border: 1px solid #EEE;
  border-radius: 4px;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, .7);
  overflow-y: scroll;

  .form-group {
    height: 70px;

    &:not(:last-of-type) {
      margin-bottom: 15px;
    }
  }
}

.flex-responsive {
  flex: 1 1 auto;
}

.input-error {
  display: inline-block;
  width: 500px;
  margin-left: 10px;
  color: rgb(220, 20, 60);

  & > * {
    line-height: 30px;
    vertical-align: middle;
  }

  &-text {
    margin-left: 5px;
  }
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

.form-group-list {
  position: relative;
  height: 180px;
  padding: 10px;
  margin-bottom: 20px;

  overflow-y: scroll;
  border-top: 1px solid darkslategray;
  border-bottom: 1px solid darkslategray;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 20px;

    text-align: center;
    background-color: #d6d0cb;
    border-bottom: 1px solid #c5cbd6;
    border-radius: 25px;
  }

  &-item:not(:last-of-type) {
    margin-bottom: 8px;
  }
}

.select-config {
  &-title {
    padding: 10px;
    text-transform: uppercase;
  }

  .btn {
    display: inline-flex;
    align-items: center;
  }
}
