@import 'src/assets/styles/variables';

$forms-list-border: #CCC;
$forms-list-item-bg: #FFF;
$forms-border-x: #CCC;

.forms-list {
  margin-bottom: 40px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  border: 1px solid $forms-list-border;

  &-title {
    margin-bottom: 20px;
  }

  &-item {
    background-color: $forms-list-item-bg;
  }

  &-item:not(:last-child) {
    border-bottom: 1px solid $forms-list-border;
  }
}

.form {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;

  &-name {
    display: inline-block;
    width: 220px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-bx {
    min-width: 100px;
    border-left: 2px solid $forms-border-x;

    &:last-of-type {
      border-right: 2px solid $forms-border-x;
    }
  }

  &-info,
  &__controls {
    display: flex;
    align-items: center;
  }

  &-info {
    &-text {
      display: inline-block;
      padding: 0 15px;
    }

    &-total {
      color: $color-secondary-dark;
      font-weight: 700;
    }
  }
}

.btn-link {
  padding: 0 10px;
  color: $color-link-light;
  font-size: 14px;
  text-transform: uppercase;

  &:hover {
    color: $color-link-dark;
  }
}

.btn-clipboard {
  * {
    line-height: 20px;
    vertical-align: bottom;
  }

  .btn__text {
    transition: color .25s ease-in;
  }

  .btn__icon {
    color: $color-link-dark;
    opacity: 0;
    transition: opacity .25s ease-in;
  }

  .btn__icon.copied {
    opacity: 1
  }
}

.MuiSnackbarContent-root {
  background-color: $color-info-success !important;
}
