@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes shakeEffect {
  0%, 100% {
    transform: translateY(0);
  }
  70% {
    transform: translateY(4.5px);
  }
}

@keyframes scaleEffect {
  from {
    width: 320px;
    height: 180px;
  }

  to {
    width: 360px;
    height: 220px;
  }
}

@keyframes slideOut {
  from {
    opacity: 0;
    transform: translate(-100%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
