@import 'src/assets/styles/variables';

$body-color: $color-secondary;

body {
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 16px;
  font-weight: 400;

  line-height: normal;
  color: $body-color;
}
