$color-primary: #2D626D;
$color-primary-dark: #26525b;
$color-primary-light: #3c8291;

$color-muted: #e5eefc;
$color-accent: #3b83ff;
$light-color-accent: #7daeff;
$color-font-main: #7a8cab;
$color-font-dark: #505f79;
$border-light-color: #b2cbf4;
$color-danger: #fd3957;
$bg-color-default: #f4f5f7;
