$color-primary: #2D626D;
$color-primary-dark: #26525b;
$color-primary-light: #3c8291;

$color-secondary: #505f79;
$color-secondary-dark: #3c475a;
$color-secondary-light: #7384a2;

$color-link-light: #a5787a;
$color-link-dark: #7d5355;

$color-form-group: #A1907F;
$color-form-group-light: #E7E4E1;
$color-form-group-thead: #d6d0cb;

$color-light: #fafafa;
$color-info-success: $color-primary-light;
$color-info-error: rgb(180, 50, 50);
